<%= form_for(@chart) do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
      <% @chart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="form-group col-md-4">
    <%= f.label :title, "Chart Title" %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
</div>

<hr>

<div class="container">
  <div class="col-md-offset-1">
    <div class="form-group col-md-2">
      <%= f.label :note %><br>
      <%= f.select :note_image, ['', 'Quarter Note', 'Whole Note', 'Eighth Note', ''], {}, {class: "form-control"} %>
    </div>

    <div class="form-group col-md-2 ">
      <%= f.label :chord %><br>
      <%= f.text_field :chord, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :left_hand %><br>
      <%= f.text_field :left_hand, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :right_hand %><br>
      <%= f.text_field :right_hand, class: "form-control" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-offset-1">
    <div class="form-group col-md-2">
      <%= f.label :note %><br>
      <%= f.text_field :first_row_1_line_break_note, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :chord %><br>
      <%= f.text_field :first_row_1_line_break_chord, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :left_hand %><br>
      <%= f.text_field :first_row_1_line_break_left_hand, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :right_hand %><br>
      <%= f.text_field :first_row_1_line_break_right_hand, class: "form-control" %>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="col-md-offset-1">
    <div class="form-group col-md-2">
      <%= f.label :second_note, "Second Note" %><br>
      <%= f.text_field :second_note, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :second_chord, "Second Chord" %><br>
      <%= f.text_field :second_chord, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :second_left_hand, "Second Left Hand" %><br>
      <%= f.text_field :second_left_hand, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :second_right_hand, "Second Right Hand" %><br>
      <%= f.text_field :second_right_hand, class: "form-control" %>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="col-md-offset-1">
    <div class="form-group col-md-2">
      <%= f.label :third_note, "Third Note" %><br>
      <%= f.text_field :third_note, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :third_chord, "Third Chord" %><br>
      <%= f.text_field :third_chord, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :third_left_hand, "Third Left Hand" %><br>
      <%= f.text_field :third_left_hand, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :third_right_hand, "Third Right Hand" %><br>
      <%= f.text_field :third_right_hand, class: "form-control" %>
    </div>
  </div>
</div>

  <div class="form-group">
    <%= f.submit "Save changes", :class => "btn btn-mini btn-primary" %>
  </div>

<% end %>
