<%= form_for(@chart) do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
      <% @chart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="form-group col-md-4">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
</div>

<div class="container">
  <div class="form-group col-md-2">
    <%= f.label :note %><br>
    <%= f.select :note_image, ['', 'Quarter Note', 'Whole Note', 'Eighth Note'], {}, {class: "form-control"} %>
  </div>

  <div class="form-group col-md-2">
    <%= f.label :chord %><br>
    <%= f.text_field :chord, class: "form-control" %>
  </div>

  <div class="form-group col-md-2">
    <%= f.label :left_hand %><br>
    <%= f.text_field :left_hand, class: "form-control" %>
  </div>

  <div class="form-group col-md-2">
    <%= f.label :right_hand %><br>
    <%= f.text_field :right_hand, class: "form-control" %>
  </div>
</div>

<div class="container">
  <div class="form-group col-md-2">
    <%= f.label :second_note %><br>
    <%= f.text_field :second_note, class: "form-control" %>
  </div>

  <div class="form-group col-md-2">
    <%= f.label :second_chord %><br>
    <%= f.text_field :second_chord, class: "form-control" %>
  </div>

  <div class="form-group col-md-2">
    <%= f.label :second_left_hand %><br>
    <%= f.text_field :second_left_hand, class: "form-control" %>
  </div>

  <div class="form-group col-md-2">
    <%= f.label :second_right_hand %><br>
    <%= f.text_field :second_right_hand, class: "form-control" %>
  </div>
</div>

  <div class="form-group">
    <%= f.submit "Save changes", :class => "btn btn-mini btn-primary" %>
  </div>

<% end %>
