<%= form_for(@chart) do |f| %>
  <% if @chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chart.errors.count, "error") %> prohibited this chart from being saved:</h2>

      <ul>
      <% @chart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :chord %><br>
    <%= f.text_field :chord %>
  </div>
  <div class="field">
    <%= f.label :left_hand %><br>
    <%= f.text_field :left_hand %>
  </div>
  <div class="field">
    <%= f.label :right_hand %><br>
    <%= f.text_field :right_hand %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
