<div class="container">
  <p id="notice"><%= notice %></p>

    <div class="title">
      <h2><%= @chart.title %></h2>
    </div>

    <br>

    <div class="container-flex">
      <div class="title-box">
        <strong>Note:</strong>
      </div>

      <div class="title-box">
        <strong>Chord:</strong>
      </div>

      <div class="title-box">
        <strong>Left hand:</strong>
      </div>

      <div class="title-box">
        <strong>Right hand:</strong>
      </div>
    </div>

    <div class="container-flex">
      <div class="box">
        <p><%= @chart.note_image %></p>
        <% if @chart.first_row_1_line_break_note.blank? %>
          <% else %>
            <p><%= @chart.first_row_1_line_break_note %></p>
        <% end %>

        <% if @chart.second_row_1_line_break_note.blank? %>
          <% else %>
            <p><%= @chart.second_row_1_line_break_note %></p>
        <% end %>
      </div>

      <div class="box chord">
        <p><%= @chart.chord %></p>
        <% if @chart.first_row_1_line_break_chord.blank? %>
          <% else %>
            <p><%= @chart.first_row_1_line_break_chord %></p>
        <% end %>

        <% if @chart.second_row_1_line_break_chord.blank? %>
          <% else %>
            <p><%= @chart.second_row_1_line_break_chord %></p>
        <% end %>
      </div>

      <div class="box magicMusicBlocks">
        <p><%= @chart.left_hand %></p>
        <% if @chart.first_row_1_line_break_left_hand.blank? %>
          <% else %>
            <p><%= @chart.first_row_1_line_break_left_hand %></p>
        <% end %>

        <% if @chart.second_row_1_line_break_left_hand.blank? %>
          <% else %>
            <p><%= @chart.second_row_1_line_break_left_hand %></p>
        <% end %>
      </div>

      <div class="box magicMusicBlocks">
        <p><%= @chart.right_hand %></p>
        <% if @chart.first_row_1_line_break_right_hand.blank? %>
          <% else %>
            <p><%= @chart.first_row_1_line_break_right_hand %></p>
        <% end %>

        <% if @chart.second_row_1_line_break_right_hand.blank? %>
          <% else %>
            <p><%= @chart.second_row_1_line_break_right_hand %></p>
        <% end %>
      </div>
    </div>

  <% if @chart.second_note.blank? %>
    <!-- show nothing -->
  <% else %>
      <div class="container-flex">
        <div class="box">
          <p><%= @chart.second_note %></p>
          <% if @chart.first_row_2_line_break_note.blank? %>
            <% else %>
              <p><%= @chart.first_row_2_line_break_note.blank? %></p>
          <% end %>

          <% if @chart.second_row_2_line_break_note.blank? %>
            <% else %>
              <p><%= @chart.second_row_2_line_break_note %></p>
          <% end %>
        </div>

        <div class="box chord">
          <p><%= @chart.second_chord %></p>
          <% if @chart.first_row_2_line_break_chord.blank? %>
            <% else %>
              <p><%= @chart.first_row_2_line_break_chord %></p>
          <% end %>

          <% if @chart.second_row_2_line_break_chord.blank? %>
            <% else %>
              <p><%= @chart.second_row_2_line_break_chord %></p>
          <% end %>
        </div>

        <div class="box magicMusicBlocks">
          <p><%= @chart.second_left_hand %></p>
          <% if @chart.first_row_2_line_break_left_hand.blank? %>
            <% else %>
              <p><%= @chart.first_row_2_line_break_left_hand %></p>
          <% end %>

          <% if @chart.second_row_2_line_break_left_hand.blank? %>
            <% else %>
              <p><%= @chart.second_row_2_line_break_left_hand %></p>
          <% end %>
        </div>

        <div class="box magicMusicBlocks">
          <p><%= @chart.second_right_hand %></p>
          <% if @chart.first_row_2_line_break_right_hand.blank? %>
            <% else %>
              <p><%= @chart.first_row_2_line_break_right_hand %></p>
          <% end %>

          <% if @chart.second_row_2_line_break_right_hand.blank? %>
            <% else %>
              <p><%= @chart.second_row_2_line_break_right_hand %></p>
          <% end %>
        </div>
      </div>
    <% end %>

  <% if @chart.third_note.blank? %>
    <!-- show nothing -->
  <% else %>
      <div class="container-flex">
        <div class="box">
          <p><%= @chart.third_note %></p>
          <% if @chart.first_row_third_note.blank? %>
            <% else %>
              <p><%= @chart.first_row_third_note %></p>
          <% end %>

          <% if @chart.second_row_third_note.blank? %>
            <% else %>
              <p><%= @chart.second_row_third_note %></p>
          <% end %>
        </div>

        <div class="box chord">
          <p><%= @chart.third_chord %></p>
          <% if @chart.first_row_third_chord.blank? %>
            <% else %>
              <p><%= @chart.first_row_third_chord %></p>
          <% end %>

          <% if @chart.second_row_third_chord.blank? %>
            <% else %>
              <p><%= @chart.second_row_third_chord %></p>
          <% end %>
        </div>

        <div class="box magicMusicBlocks">
          <p><%= @chart.third_left_hand %></p>
          <% if @chart.first_row_third_left_hand.blank? %>
            <% else %>
              <p><%= @chart.first_row_third_left_hand %></p>
          <% end %>

          <% if @chart.second_row_third_left_hand.blank? %>
            <% else %>
              <p><%= @chart.second_row_third_left_hand %></p>
          <% end %>
        </div>

        <div class="box magicMusicBlocks">
          <p><%= @chart.third_right_hand %></p>
          <% if @chart.first_row_third_right_hand.blank? %>
            <% else %>
              <p><%= @chart.first_row_third_right_hand %></p>
          <% end %>

          <% if @chart.second_row_third_right_hand.blank? %>
            <% else %>
              <p><%= @chart.second_row_third_right_hand %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <br>
    <br>

  <%= link_to 'Edit', edit_chart_path(@chart) %> |
  <%= link_to 'Back', charts_path %> |
  <%= link_to "Export PDF", charts_show_pdf_path(format: :pdf), target: "_blank" %>
</div>